<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename ='index.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h2>New Dojo</h2>
        <form action="/new_dojo" method="POST">
            <input type="text" name="name" placeholder="Name of Dojo">
            <input type="submit" value="Create Dojo!">
        </form>
    </div>
    <div class="container">
        <h2>Dojos</h2>
        <div class="box">
            {% for dojo in dojos %}
                <a href="/dojo/{{dojo.id}}" class="listItem">{{dojo.name}}</a>
            {% endfor %}
        </div>
        <a href="/add_ninja">Add Ninja</a>
    </div>
</body>
</html>